<h3>Images</h3>

<RadzenDataList WrapItems="true" AllowPaging="true"
                Data="@Images" TItem="string">
    <Template Context="image">
        @if (image == SelectedImage)
        {
            <RadzenImage Path="@image"
                         Style="width: 150px;
                                padding:10px;
                                background-color:darkgrey"
                         Click="@((args) => SelectImage(image))" />
        }
        else
        {
            <RadzenImage Path="@image"
                         Style="width: 150px;
                                padding: 10px;
                                background-color: white"
                         Click="@((args) => SelectImage(image))" />
        }
    </Template>
</RadzenDataList>

@code {
    private List<string> Images;

    private string SelectedImage;

    private void LoadDatasetImages(string dataset)
    {
        Images = new List<string>();

        if (!string.IsNullOrEmpty(dataset))
        {
            try
            {
                var datasetPath = Path.Combine(Constants.DatasetsPath, dataset);

                Images.AddRange(Directory.GetFiles(datasetPath)
                                .Select(x => x.Replace(Constants.WebRootPath, string.Empty))
                                );
            }
            catch
            {
                Directory.CreateDirectory(Constants.DatasetsPath);
            }
        }
    }

    private void SelectImage(string image)
    {
        SelectedImage = SelectedImage == image
                        ? null
                        : image;
    }

    public void DatasetChange(string dataset)
    {
        LoadDatasetImages(dataset);
        StateHasChanged();
    }
}
